<main class="container bg">
  <img src="assets/logo-financiamento-04.png" alt="Logo Só Vamu" class="logo" />
  <div class="info-home">
    <h1 class="texto-home">Conquiste o sonho da casa própria.</h1>
    <br aria-hidden="true"/>
    <h1 class="texto-home">
      Em apenas alguns passos fique mais perto de segurar suas chaves!
    </h1>
  </div>
  <button [routerLink]="['/cliente']" type="button" class="btn btn-success btn-sm mt-5 mb-5 button-grid">
    Simulação de Financiamento
  </button>
</main>
